site_name: OPENLABLOG
site_url: https://openlablog.github.io/
docs_dir: ./openlablog.github.io.obsidian
site_dir: ./site
use_directory_urls: false
theme:
  name: material
  language: zh
  features:
    - navigation.top
    - navigation.path
    - navigation.footer
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/lightbulb-outline
        name: Switch to light mode
markdown_extensions:
  - toc:
      permalink: true
extra:
  generator: false
